
/* Animacion */

h1 {
    float: left;
    color: #F8C43A;
    position: relative;
    font-size: 4em;
    letter-spacing: 15px;
}

h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    border-left: 1px solid green;
    

    animation: maquina 2s infinite alternate steps(4);
}

@keyframes maquina {
    from {
        width: 100%;

    }

    to {
        width: 0;
    }
}


/*  */


/* h1{
    background-color: red;
    font-size: 130px;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch; /* numero de caracteres que tiene la linea */


/*    animation:typing 2s steps(12),
    blink .5s infinet step-end alternate;
    overflow: hidden;    
} */

/* @keyframes typing {
    from {width: 0}
}
 */
/* @keyframes blink {
    50%{ border-color: transparent; }
}  */