

/* ----------------contenedor---------------------- */

.container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "main"
        "tittle"
        "nav"
        "nav";
    }

.container__main{
    margin: 1em;
    color: var(--yellow);
    font-family: var(--montserrat);
    font-size: 1.5em;
    grid-area: main;
    border:3px solid #C93D1B;
}

.tittle {

    width: 90%;
    font-size: 1.7em;
    margin: 0 auto;
    text-align: center;
    font-family: var(--montserrat);
    color: var(--red);

}

.menu {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
 

}

.menu>svg {
    border: 4px solid var(--yellow);
    width: 7.5rem;
    height: 9.3rem;
    padding: 15px 10px;
    border-radius: 15px 15px 15px 15px;
}