:root {
    --blue: #04322E;
    --red: #C93D1B;
    --yellow: #F8C43A;
    --cyan: #35D0BA;
    --white: #D2FFF9;
    --source: 'Source Sans Pro', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--blue)
}


.piano {
   display: grid;
   grid-template-columns: 1fr;

   width: max-content;
   gap: 3px;
}

.octave {
    display: flex;
    font-size: 1.5rem;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--montserrat);
}

.key.white{
    width: 3em;
    height: 6em;
    background: var(--white);
    grid-area: white-key;
    border-radius: 0 0 15px 15px;
    outline: 3px solid var(--blue);
    color: var(--blue);

}

.key.white:hover{
  background: var(--red);
}

.key.black{
    background: black;
    width: 2em;
    height: 3.5em;
    grid-area: black-key;
    position: absolute;
    border-radius: 0 0 10px 10px;
    color: var(--white);


}

.key.black:hover{
  background: var(--red);
}

.key.active {
    background-color: var(--red);
    outline: 3px solid var(--blue);

}

.c {
    left: 2em;
}

.d {
    left: 5em;

}

.f {
    left: 11em;
}

.g {
    left: 14em
}

.a {
    left: 17em;
}