:root {
    --blue: #04322E;
    --red: #C93D1B;
    --yellow: #F8C43A;
    --cyan: #35D0BA;
    --white: #D2FFF9;
    --source: 'Source Sans Pro', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--blue);
}

/*--------------main-------------*/
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "main__logo"
        "main__icon"
        "main__para"
        "main__buttons";
    height: 100vh;
    width: 90%;
    padding-bottom: 5rem;
}

/*main elements*/

.main__home {

}

h1 {
    float: left;
    color: #F8C43A;
    position: relative;
    font-size: 4em;
    font-family: var(--montserrat);
    grid-area: main__logo;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación logo */
h1 span {
    position: absolute;
    right: 32px;
    width: 0;
    background: var(--blue);
    font-size: 64px;
    animation: maquina 2s alternate steps(6);
}

@keyframes maquina {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.main__logo {
    grid-area: main__logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__icon {
    grid-area: main__icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__img {
    width: 80%;
}

.main__para {
    grid-area: main__para;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-family: var(--source);
}

.main__buttons {
    grid-area: main__buttons;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;


}

.main__button {
    text-decoration: none;
    border: 2px solid var(--yellow);
    border-radius: 15px;
    color: var(--red);
    font-family: var(--montserrat);
    background: var(--yellow);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}

.main__button.ghost {
    background: none;
    color: var(--yellow);
}

.main__button:hover {
    background-color: var(--yellow);
    color: var(--red);
}

.main__button {}

.main__title {}

/*main modifiers*/

.main__button.ghost {}



/*-------------------Navbar--------------*/

.nav {
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 71px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.nav__item.active {
    fill: var(--cyan)
/* navbar elements */
}

.nav__item:hover {
    fill: var(--cyan);
}

/* navbar modifier */

.nav__item.active {}


/* ------------instrument----------- */

.instrument {}

/* instrument elements */

.instrument__piano {}

.instrument__drums {}

/* instrument modifiers */

.instrument__piano.active {}

.instrument__drums.active {}


/* -----------------menu-------------- */

.menu {

}



@media screen and (min-width: 1133px){
    .main {
        grid-template-columns: 71px 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "nav main__logo main__logo"
                                "nav main__icon main__para";
        width: 100%;
    }

    .nav {
        flex-direction: column;
        height: 100vh;
        padding: 1rem 0;
        width: 71px;
        left: 0;
    }

    .main__buttons {
        display: none;
    }
}


