:root {
    --blue: #04322E;
    --red: #C93D1B;
    --yellow: #F8C43A;
    --cyan: #35D0BA;
    --white: #D2FFF9;
    --source:'Source Sans Pro', sans-serif;
    --montserrat:'Montserrat', sans-serif;
}

* {
    outline: 2px solid red;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--blue);
}

/*--------------main-------------*/
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 71px;
    grid-template-areas: "main__logo"
                        "main__icon"
                        "main__para"
                        "main__buttons"
                        "nav";
    height: 100vh;
    width: 90%;
}

/*main elements*/

.main__home {

}
h1 {
    float: left;
    color: #F8C43A;
    position: relative;
    font-size: 4em;
    letter-spacing: 15px;
    text-align: center;
    font-family: var(--montserrat);
}
/* Animación logo */
h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background:var(--blue);    
    font-size: 64px;
    
    
    

    animation: maquina 2s  alternate steps(5);
}

@keyframes maquina {
    from {
        width: 100%;

    }

    to {
        width: 0;
    }
}

.main__logo {
    grid-area: main__logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__icon {
    grid-area: main__icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__img {
    width: 50%;   
}

.main__para {
    grid-area: main__para;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-family: var(--source);
}

.main__buttons {
    grid-area: main__buttons;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }

.main__button {
    text-decoration: none;
    border: 2px solid var(--yellow);
    border-radius: 10%;
    color: var(--yellow);
    padding: 1rem;
    margin: 1rem;
    font-family: var(--montserrat);
}

.main__button:hover{
    background-color:var(--yellow);
    color: var(--red);
} 

.main__button {

}

.main__title {

}

/*main modifiers*/

.main__button.ghost {

}



/*-------------------Navbar--------------*/

.nav {
    background: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
    max-height: 71px;
    padding: 0 1rem;
}

.nav > img{
    width: 50px;
     
}
.nav > img:hover{
    color: #35D0BA;
}


/* navbar elements */

.nav__item {

}

/* navbar modifier */

.nav__item.active {

}


/* ------------instrument----------- */

.instrument {

}

/* instrument elements */

.instrument__piano {

}

.instrument__drums {

}

/* instrument modifiers */

.instrument__piano.active {

}

.instrument__drums.active {

}


/* -----------------menu-------------- */

.menu {

}
