.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 71px;
  height: 100vh;
  width: 80%;
  grid-template-areas:
    "container__main"
    "main__title"
    "xilo"
    ".";
  justify-items: center;
}

.container__main {
  grid-area: container__main;
}

.main__logo {
  font-size: 5rem;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 4rem;
  font-family: var(--montserrat);
  color: var(--red);
  text-align: center;
  grid-area: main__title;
}

#contenedor {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  grid-area: xilo;
  font-size: 3vw;
  gap: 0.4rem;
}

.note {
  width: 3em;
  border-radius: 1em;
  cursor: pointer;
}
.note:hover {
  box-shadow: 5px 5px var(--red);
}

.note:nth-child(1) {
  background: #02b65e;
  height: 16em;
}

.note:nth-child(2) {
  background: #f0d20e;
  height: 14.5em;
}

.note:nth-child(3) {
  background: #d04559;
  height: 13em;
}

.note:nth-child(4) {
  background: #e28c12;
  height: 11.5em;
}

.note:nth-child(5) {
  background: #8e83c8;
  height: 10em;
}

.note:nth-child(6) {
  background: #0285d4;
  height: 8.5em;
}

.note:nth-child(7) {
  background: #fdc1c0;
  height: 7em;
}

.note:nth-child(8) {
  background: #be3c22;
  height: 5.5em;
}

.white_bold {
  font-family: Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: bold;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #aaa;
}

/* ---------------------Medias---------------------*/


@media screen and (min-width: 1133px) {
  .container {
    grid-template-columns: 71px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      ". container__main"
      ". main__title"
      ". xilo";
    width: 90%;
    padding-top: 5rem;
  }
}
